
Flask
redis
mysql-connector-python
blinker==1.8.2
click==8.1.7
diagrams==0.24.1
Flask==3.0.3
graphviz==0.20.3
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.2

Werkzeug==3.1.2
tensorflow
keras
numpy
pandas
scikit-learn
matplotlib
seaborn

